@import 'variables';
@import 'notification';
@import 'loader';

input, textarea {
  -webkit-appearance: none;
  border-radius: 0;
  padding: 8px;
  border-collapse: collapse;
  border-width: 1px;
  line-height: 2em;

  &::placeholder {
    font-size: 12px;
  }
}

main.main {

  section.contact {
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
    display: block;

    h1.title {
      font-size: 32px;
    }

    .subtitle {
      line-height: 2em;
    }

    address {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      font-style: normal;
      background-color: white;

      p, a {
        display: flex;
        flex-direction: row;
        padding-bottom: 16px;
        text-decoration: none;
        align-items: center;
        align-content: center;
        justify-content: left;
        font-size: 16px;
        width: fit-content;
      }

      .icon svg {
        width: 24px;
        height: 24px;
        padding-right: 5px;
        padding-top: 3px;

      }
    }

    .contact-form {
      max-width: 375px;

      .form-group {
        padding-top: 5px;
        padding-bottom: 12px;
        display: flex;
        flex-direction: column;

        label {
          padding-bottom: 5px;
          font-weight: 400;
        }

          input, textarea {
            &:invalid.is-invalid {
              border: 1px solid #f16363;
            }
        }
      }

      .btn {
        &.submission-wait {
          width: 82.65px;
          height: 41px;
          display: flex;
          align-items: center;
          flex-direction: column;
        }
      }

    }
  }
}

.d-none {
  display: none !important;
}

/**Target medium and up*/
@media (min-width: 768px) {


  main.main {

    section.contact {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 40% 55%;

      h1.title {
        grid-column: span 2;
      }

      .contact-form {
        .form-group {
        }
      }
    }
  }
}