@import 'layout';

/*
* Reset styles
*/
*,
*:before,
*:after {
  box-sizing: border-box
}


html,
body,
div,
span,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
strong,
u,
i,
ul,
li,
form,
label,
table,
tbody,
thead,
tr,
th,
td,
main,
canvas,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

img {
  vertical-align: middle;
}

.btn {
  padding: 9px;
  border: 1px solid;
  text-decoration: none;
  line-height: 21px;
  font-size: 16px;
  border-radius: 3px;

  &:hover {
    cursor: pointer;
  }
}

[data-title] {
  position: relative;
}

[data-title]:hover::after {
  white-space: nowrap;
  content: attr(data-title);
  position: absolute;
  top: 24%;
  left: 64%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  font-size: 13px;
  z-index: 1;
  border-radius: 6px;
}

.nowrap {
  white-space: nowrap;
}