:root {
  --navbar-opaque-bg: #d7d7d7;
  --primary-color: #00823B;
  --primary-link-color: #40a0f5;

  --primary-btn-color: white;
  --primary-btn-bg-color: #00823B;
  --primary-btn-border-color: #00823B;
  --secondary-btn-color: #494b4c;
  --secondary-btn-bg-color: #ffff;
  --secondary-btn-border-color: #494b4c;

}

html, body, div, p, a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

a {
  color: var(--primary-link-color);
  text-decoration: none;
}

.btn-primary {
  background-color: var(--primary-btn-bg-color);
  border-color: var(--primary-btn-border-color);
  color: var(--primary-btn-color);
}

.btn-secondary {

  background-color: var(--secondary-btn-bg-color);
  border-color: var(--secondary-btn-border-color);
  color: var(--secondary-btn-color);
}

.navbar {
  .nav-item .nav-link {
    color: black;
  }

  &.opaque {
    background-color: var(--navbar-opaque-bg);
    z-index: 1;
  }
}


/** Landing page **/
section.services {
  .services-list {
    .list-item {
      border-color: #9cbcbd;
    }
  }
}

section.process {
  .process-lifecycle {
    .lifecycle {
      .step {
        border-color: #9cbcbd;
      }
    }
  }
}

/** Portfolio page */
.projects-list {
  .project-box {
    border-color: #d5d5d5;

    .intro-box {
      border-color: #eee;
    }

    .reaction {
      border-color: #ccc;

      .reaction-icon {
        border-color: #ccc;
        background-color: #e8eaeb;
      }
    }

    .tech-stack {
      .tech-used {
        background-color: #ccc;
        color: #2f2f2f;
        border-color: #ccc;
      }
    }

    .btn-toggle-view {
      color: var(--primary-link-color);
    }
  }
}

/** Contact form page **/
.contact-form {
  input, textarea {
    border-color: #515151;
  }
}
